* {
    font-family: 'Source Sans Pro', sans-serif;;
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    background-color: #7F95D1;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.container__fundo {
    background-image: url(../img/backgorund.png);
    background-size: cover;
    height: 200px;
    padding: 30px;
    width: 400px;
}

.container__titulo {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 1em;
}

.container__link {
    align-items: center;
    color: #000;
    display: flex;
    padding-bottom: 0.5em;
    text-decoration: none;
}

.container__link:hover {
    color: #7F95D1;
}

.container__paragrafo {
    margin-left: 1em;
}

@media (max-width: 500px) {
    .container__fundo {
        margin: 1em;
        background-position: top;
    }

}